:root {
    --primary-blue: #1D4975;
    --primary-green: #71BFBA;
    --primary-brown: #3C3541;
    --primary-red: #D31E5C;
}
/* a, button {
    cursor: url('../img/cursor-pointer.svg'), pointer;
} */

.text-primary-blue {
    color: var(--primary-blue);
}
.text-primary-green {
    color: var(--primary-green);
}
.text-primary-brown {
    color: var(--primary-brown);
}
.text-primary-red {
    color: var(--primary-red);
}
.bg-primary-blue {
    background-color: var(--primary-blue);
}
.bg-primary-green {
    background-color: var(--primary-green);
}
.bg-primary-brown {
    background-color: var(--primary-brown);
}
.bg-primary-red {
    background-color: var(--primary-red);
}




body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito', sans-serif;
}

#logo {
    width: 75px;
}

.comming-soon {
    height: calc(100vh - 20vh);
    position: relative;
}

.comming-soon img {
    width: 80%;
}

.post-img-hero {
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: center;
}

#footer-front {
    background-color: #C7E6E4;
    padding: 20px 0;
    border-top: 1px solid #e9ecef;
}

#footer-front .logo-footer {
    height: 70px;
}

#carouselPosts {
    width: 100%;
    height: 350px;
    overflow: hidden;
}

#carouselPosts .carousel-item {
    background-color: #1c6ca1;
    height: 350px;
    width: 100%;
}
#carouselPosts .carousel-item img {
    object-fit: cover;
    object-position: center;
}
