body{
    background-color: white;
    font-family: 'Arimo', sans-serif;
}

h1, h2, h3, h4, h5{
    font-family: 'LemonMilk', 'Arimo', Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: 'LemonMilk';
    src: url('fonts/lemon-milk/LemonMilk.otf');
}

/*General Style*/
#contact{
    background-image: url('../images/contacto.jpg');
    padding-top: 50px;
    padding-bottom: 50px;
    color:white;
}


/*Nav Styles*/
.logo-nav{
    float:left;
    max-width:15%;
}

/*Accordion Styles*/
#accordion{
    line-height: 1.1;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
}
#accordion h2{
    font-size: 1rem;
}
#accordion ul {
    display: flex;
    min-height: 100vh;
    max-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
  }
  
  #accordion li {
    flex: 1;
    display: flex;
    align-items: stretch;
    padding: 20px;
    background: #E74C3C;
    cursor: pointer;
    transition: all .5s ease;
  }
  #accordion li:hover {
    background: #e53f2e;
  }
  #accordion li.active {
    flex: 5;
    background: #fff;
    cursor: default;
  }
  #accordion li.active h2 {
    color: #E74C3C;
  }
  #accordion li.active .section-content {
    flex: 4;
    opacity: 1;
    transform: scaleX(1);
    color: #E74C3C;
  }
  #accordion li .section-title {
    flex: 1;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
  }
  #accordion li .section-title h2 {
    margin: 0;
    transform: rotate(-90deg);
    white-space: nowrap;
  }
  #accordion li .section-content {
    flex: 1;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: all .25s .1s ease-out;
  }



 /*Media Queries*/
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    
    .d-none{
        display: inline-block !important;
    }

    .carousel-caption{
        color:black;
        right: 55%;
        bottom:5px;
    }

 }

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 

    .carousel-caption{
        color:black;
        right: 55%;
        bottom:275px;
    }

 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 

    .carousel-caption{
        color:black;
        right: 55%;
        bottom:121px;
    }

 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

    .carousel-caption{
        color:black;
        right: 55%;
        bottom:275px;
    }

 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 

    .carousel-caption{
        color:black;
        right: 55%;
        bottom:275px;
    }

 }